<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="/public/assets/favicon.svg">

    {{ block "styles" . }}
    <link rel="stylesheet" href="/public/css/style.css">
    {{ end }}

    <title>OpenFirme România — Informații despre companii</title>

    <script src="/public/js/common.js" defer></script>
    <script src="/public/js/base.js" defer></script>
	{{ block "scripts" . }}
	{{ end }}
    <script src="/public/js/main.js" defer></script>

</head>

<body>

<!-- ============================================================
     HEADER
============================================================ -->

<header>

    <a href="/" class="logo">
        OpenFirme<span> România</span>
    </a>

    <nav class="menu">
        <a href="/top/1">Top Companii</a>
        <a href="/descarca" class="hiddenOnSmall">Descarcă Baza de Date</a>
        <a href="/despre">Despre Proiect</a>
    </nav>

</header>


<!-- ============================================================
     HERO / SEARCH
============================================================ -->

<section class="hero">

    <h1>Găsește orice companie din România</h1>

    <p>
        Caută informații publice despre societăți comerciale
		după denumire sau CUI
	</p>

    {{ template "searchbar.html" }}

</section>


<!-- ============================================================
     MAIN
============================================================ -->

<main>

    <div class="layout">
        {{ block "sidebar" . }}
        {{ end }}

		{{ block "content" . }}
		{{ end }}
    </div>

</main>


<!-- ============================================================
     FOOTER
============================================================ -->

<footer>

    © 2026 OpenFirme România

    <br><br>

    Platformă de căutare și agregare a informațiilor
    publice despre companii din România.

</footer>

</body>
</html>
