<div class="search-wrapper">

    <form method="GET" class="search-box" action="/search/1">

        <input
            type="text"
            enterkeyhint="go"
            name="nume_partial"
            minlength="3"
            required
            id="searchInput"
            placeholder="Caută după nume firmă..."
        >

        <input type="hidden" name="judet" value="" id="judetSearchParam">
        <input type="hidden" name="status" value="" id="statusSearchParam">
        <input type="hidden" name="forma_juridica" value="" id="formaJuridicaSearchParam">

        <button type="submit">
            🔍 Caută
        </button>

    </form>

</div>
