.collapsible-content:not(.collapsible-content-active) > :nth-child(n + 3) {
    display: unset;
}
.collapsible-content-active > :nth-child(n + 3) {
    height: unset
}

.collapsible-content:not(.collapsible-content-active) > :nth-child(n + 5) {
    display: none;
}

.collapsible-content-active > :nth-child(n + 5) {
    display: block;
    height: auto;
}
