main {
	max-width: 1500px;
}

.layout {
    grid-template-columns: 0 minmax(0, 1fr);
    gap: 0px;
}

.collapsible-content {
    height: auto;
    animation: height 1s ease-out;
}

.collapsible-content:not(.collapsible-content-active) > :nth-child(n + 3) {
    display: none;
}
.collapsible-content-active > :nth-child(n + 3) {
    display: block;
    height: auto;
}
