.company-info {
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 900px) {
    .company-info {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .company-info{
        grid-template-columns: 1fr;
    }
}
