{{ template "base.html" }}

{{ define "styles" }}
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="stylesheet" href="/public/css/administratori.css">
{{ end }}


{{ define "scripts" }}
<script src="/public/js/main.js" defer></script>
<script src="/public/js/search.js" defer></script>
{{ end }}

{{ define "sorting" }}
	<!-- empty -->
{{ end }}

{{ define "filters" }}
	<!-- empty -->
{{ end }}

{{ define "sidebar" }}
    {{ template "sidebar.html" }}
{{ end }}

{{ define "emptyResult" }}
    <h3 id="emptyStateTitle">
        Căutare...
    </h3>

    <p id="emptyStateDescription">
        Se caută administratorii...
    </p>
{{ end }}

{{ define "content" }}
    {{ template "results.html" }}
{{ end }}
