{{ template "base.html" }}

{{ define "styles"}}
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/profile.css">
    <link rel="stylesheet" href="/public/css/dosarJuridic.css">
{{ end }}


{{ define "scripts" }}
<script src="/public/js/judecatorii.js" defer></script>
<script src="/public/js/dosarJuridic.js" defer></script>
{{ end }}

{{ define "sorting" }}
	<!-- empty -->
{{ end }}

{{ define "filters" }}
	<!-- empty -->
{{ end }}

{{ define "sidebar" }}
    {{ template "sidebar.html" }}
{{ end }}


{{ define "content" }}
        <section>

            <!-- ====================================================
                 MODAL / COMPANY PROFILE
            ==================================================== -->

            <div class="modal" id="profileModal" >

                <div class="modal-content">

                    <div class="modal-header">

                        <h2 id="profileObiect">
                            Loading...
                        </h2>

                        <p>
                            Dosar juridic • România
                        </p>
                    </div>


                    <div class="modal-body">

                        <div class="card-footer">
                            <a href="/" class="view-button" target="_blank" rel="noopener noreferrer">
                                Caută pe portaljust →
                            </a>
                        </div>

                        <!-- IDENTIFICATION -->

                        <div class="profile-section">

                            <h3>
                                Date dosar
                            </h3>

                            <div class="profile-grid">

                                <div class="profile-field">

                                    <small>
                                        Număr
                                    </small>

                                    <strong id="profileNumarDosar" class="clipboardContent">
										Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>

                                </div>


                                <div class="profile-field">

                                    <small>
                                        Categorie
                                    </small>

                                    <strong id="profileCategorie" class="clipboardContent">
										Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>

                                </div>


                                <div class="profile-field">

                                    <small>
                                        Tribunal
                                    </small>

                                    <strong id="profileTribunal" class="clipboardContent">
										Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>

                                </div>

                                <div class="profile-field">

                                    <small>
                                        Departament
                                    </small>

                                    <strong id="profileDepartament" class="clipboardContent">
										Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>

                                </div>

                                <div class="profile-field">

                                    <small>
                                        Data
                                    </small>

                                    <strong id="profileData" class="clipboardContent">
										Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>

                                </div>


                                <div class="profile-field">

                                    <small>
                                        Stadiu procesual
                                    </small>

                                    <strong id="profileStadiuProcesual" class="clipboardContent">
										Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>

                                </div>

                            </div>

                        </div>


                        <!-- ADDRESS -->

                        <div class="profile-section">
                            <h3>
                                Părți
                            </h3>

                            <div class="profile-grid collapsible-content" id="parti-section">
                                <div class="profile-field" id="partePrototype" style="display:none;">
                                    <small>
                                        nume parte - calitate
                                    </small>

                                    <strong id="partePrototypeValue" class="clipboardContent">
                                        Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>
                                </div>
                            </div>

                            <button class="expand-content-button" data-target="parti-section" onclick="toggleCollapsibleContent(this)">Arată mai mult</button>
                        </div>

                        <div class="profile-section">
                            <h3>
                                Ședințe
                            </h3>
                        </div>

                        <div class="profile-section" id="sedintaPrototype" style="display: none;">
                            <div class="sedintaContainer">
                                <a class="sedintaExpand" >▸</a>
                                <h3 class="sedinta-title" onclick="component.expandSedinta(this)">
                                    Sedinta Prototype
                                </h3>
                            </div>

                            <div class="profile-grid" style="display: none;">
                                <div class="profile-field">
                                    <small>
                                        Data
                                    </small>

                                    <strong class="sedinta-data clipboardContent">
                                        Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>
                                </div>

                                <div class="profile-field">
                                    <small>
                                        Complet
                                    </small>

                                    <strong class="sedinta-complet clipboardContent">
                                        Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>
                                </div>

                                <div class="profile-field">
                                    <small>
                                        Data pronunțare
                                    </small>

                                    <strong class="sedinta-data-pronuntare clipboardContent">
                                        Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>
                                </div>

                                <div class="profile-field">
                                    <small>
                                        Ora
                                    </small>

                                    <strong class="sedinta-ora clipboardContent">
                                        Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>
                                </div>

                                <div class="profile-field">
                                    <small>
                                        Soluție
                                    </small>

                                    <strong class="sedinta-solutie clipboardContent">
                                        Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>
                                </div>

                                <div class="profile-field">
                                    <small>
                                        Soluție sumar
                                    </small>

                                    <strong class="sedinta-solutie-sumar clipboardContent">
                                        Loading...
                                    </strong>

                                    <button class="content-copy-button" onclick="component.copyToClipboard(this)">Copiază</button>
                                </div>
                            </div>
                        </div>

                        <div class="profile-section">

                            <h3>
                                Surse și actualizare
                            </h3>

                            <div class="source">

                                Informațiile afișate trebuie verificate
                                în sursele publice oficiale înainte de
                                utilizarea lor în scopuri juridice,
                                comerciale sau financiare.

                                <br><br>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>
{{ end }}
