{{ template "base.html" }}

{{ define "styles"}}
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="stylesheet" href="/public/css/topfirme.css">
{{ end }}


{{ define "scripts" }}
<script src="/public/js/searchPageBase.js" defer></script>
<script src="/public/js/topFirme.js" defer></script>
{{ end }}

{{ define "sidebar" }}
    {{ template "sidebar.html" }}
{{ end }}

{{ define "content" }}
    {{ template "results.html" }}
{{ end }}

{{ define "extraResultsInfo"}}
    <div class="info-item">

        <small>Cifră afaceri</small>

        <strong class="company-cifra-afaceri">
            100.000.000.000
        </strong>

    </div>

    <div class="info-item">

        <small>Profit</small>

        <strong class="company-profit">
            100.000.000.000
        </strong>

    </div>

    <div class="info-item">

        <small>Angajați</small>

        <strong class="company-angajati">
            100.000.000.000
        </strong>

    </div>
{{ end }}
